.lista{
    background-color: beige;
    width: 100%;
    margin: auto;
    height: 100vh;
    
}

.lista table{
    border: 1px solid #ddd;
    background-color: white;
}

.lista table tr{
    border: 1px solid #ddd;
}

.lista table tr td{
    border: 1px solid #ddd;
}